:root {
    --primary-bg-color: #ffff;
    --primary-text-color: black;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    position: relative;
    /* background-color: red; */
}

.container {
    width: 100%;
    height: 100%;
    background-color: var(--primary-bg-color);
    position: relative;
    /* background-color: red; */
}

#title {
    font-size: 2rem;
}

.boxes {
    border: solid 1px black;
    width: 100dvw;
    height: 45dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.box {
    border: solid 1px black;
    width: 80px;
    height: 50px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 5dvh;
    align-items: center;
    cursor: pointer;
}

#red {
    background-color: red;
    color: white;
}

#green {
    background-color: green;
    color: white;
}

#blue {
    background-color: blue;
    color: white;
}

#orange {
    background-color: orange;
    color: rgb(43, 12, 12);
}

#lime {
    background-color: lime;
    color: rgb(12, 11, 11);
}